<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{satellites.length}}</span></div>
    <div>Space Debris: <span>{{countType('Space Debris')}}</span></div>
    <div>Communication: <span>{{countType('Communication')}}</span></div>
    <div>Probe: <span>{{countType('Probe')}}</span></div>
    <div>Positioning: <span>{{countType('Positioning')}}</span></div>
    <div>Space Station: <span>{{countType('Space Station')}}</span></div>
    <div>Telescope: <span>{{countType('Telescope')}}</span></div>
</div>