.search-form {
  margin-bottom: 40px;
}

.searchTerm {
  font-size: 18px;
  border-radius: 4px;
}

button {
  font-family: "OpenSans";
  font-weight: bold;
  margin-left: 10px;
  color: #eef1ec;
  background-color: #34495e;
  border-color: #d5ccbc;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 18px;
  cursor: pointer;
}
