.warning {
  background-color: #964343;
  color: #eef1ec;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #d5ccbc;
}

.header {
  font-weight: bold;
  background-color: #d5ccbc;
  color: #313641;
}

.header-row {
  background: #34495e;
  color: #eef1ec;
}

th,
td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #eef1ec;
}

.sortable {
  cursor: pointer;
  color: #eef1ec;
  font-weight: bold;
  background-color: #34495e;
}